.container{
    margin-top: 60px;
}

.input-group{
    float: left;
    margin-bottom: 0px !important;
    padding-left: 0;
}

#time{
    font-size: 14px;
    margin:0px !important;
    text-align: right;
    padding: 13px;
    border-top:1px solid #a9a5a5d4;
    border-bottom:1px solid #a9a5a5d4;
}

button{
    color: #2f9a82 !important;

}

#header{
    padding: 50px 450px;
    text-align: center;
    border-bottom: 2px solid gray;
}

#current-time{
    color:#f14747;
}

textarea{
    color: black !important;
}





